:root{
    --tiffany-blue: hsla(173, 44%, 73%, 1);
    --verdigris: hsla(176, 33%, 61%, 1);
    --verdigris-2: hsla(173, 45%, 56%, 1);
    --light-sea-green: hsla(179, 58%, 41%, 1);
    --verdigris-3: hsla(178, 48%, 44%, 1);
    --rich-black: hsla(218, 24%, 9%, 1);
    --rich-black-2: hsla(218, 28%, 11%, 1);
    --raisin-black: hsla(217, 30%, 14%, 1);
    --prussian-blue: hsla(217, 32%, 19%, 1);
    --prussian-blue-2: hsla(219, 28%, 21%, 1);
    --prussian-blue-3: hsla(219, 26%, 23%, 1);
    --charcoal: hsla(219, 25%, 25%, 1);
    --charcoal-2: hsla(219, 24%, 27%, 1);
    --charcoal-3: hsla(219, 23%, 27%, 1);
    --charcoal-4: hsla(219, 17%, 34%, 1);

@media screen and (max-width: 480px){
    .logo-image {
        max-width:40px;
    }
    .logo-link {
        align-self: flex-start;    
    }    
    .page-header {
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 5px;
        position: relative;
    }
    .nav-button {
        display: block;
    }
    #search{
        min-width: 50 px;
        /* max-width: 170px; */
        flex: 1;
    }
    #search input {
        max-width: 100%;
    }
    #search button {
        display :none;
    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
        position: absolute; 
        top: 100%;
        left: 0px;
        background-color: var(--light-sea-green);
        z-index: 999;
    }
    #main.open{
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display : none;
        
    }
    #user-nav {
        gap: 5px;
        font-size: 0.7em;
        
    }
    user-nav a {
        padding: 5px;
    }
    .main-content {

        max-width: 100vw;
        
    }
    .card {
        min-width:30vw;
        flex-shrink:0;
    }
    
    .card-container {
        min-width: 170vw;
        
    .card-container.contact{
        min-width:auto;
        flex-wrap:wrap;
    }
    .card-container.contact .card {
        min-width:  290px;
    }
    .scrollbox {
        overflow-x: scroll;
    }
}
