:root{
    --tiffany-blue: hsla(173, 44%, 73%, 1);
    --verdigris: hsla(176, 33%, 61%, 1);
    --verdigris-2: hsla(173, 45%, 56%, 1);
    --light-sea-green: hsla(179, 58%, 41%, 1);
    --verdigris-3: rgb(58, 166, 162);
    --rich-black: hsla(218, 24%, 9%, 1);
    --rich-black-2: hsla(218, 28%, 11%, 1);
    --raisin-black: hsla(217, 30%, 14%, 1);
    --prussian-blue: hsla(217, 32%, 19%, 1);
    --prussian-blue-2: hsla(219, 28%, 21%, 1);
    --prussian-blue-3: hsla(219, 26%, 23%, 1);
    --charcoal: hsla(219, 25%, 25%, 1);
    --charcoal-2: hsla(219, 24%, 27%, 1);
    --charcoal-3: hsla(219, 23%, 27%, 1);
    --charcoal-4: hsla(219, 17%, 34%, 1);
    color-scheme:light ;
}
body {
   
    background-color: rgba(123, 157, 161, 0.507);

    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display :grid;
    grid-template-rows: auto auto 1fr auto;
}

a{
    font-size: 150%;
    
}

/* a:link {
    color: blue;
}

a:visited {
    color: rgb(251, 249, 249);
}

a:hover {
    color: rgb(14, 157, 157);
}

a:active {
    color: var(--charcoal);
} */
h1 {
    color: var(--prussian-blue-2);
    background-color:var(--verdigris);
}

img {
    max-width: 100%;
}

.home-image {
    width: 500px;
    margin:auto;
    display: block;
}
.logo-image {
    width: 70%;
    margin:auto;
    display:block;
}
.logo-image {
    max-width: 100px;
    min-width: 30px;
    padding: 8px;
}
.about-image {
    width: 700%;
    margin: auto;
    display: block;
}
/* header for page  */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #B6E8E4;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}



.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
}
.navigation a {
    color: var(--rich-black);
    text-decoration: none;
    padding: 10px;
}

.navigation a:hover {
    color: var(--rich-black);
}

.nav-button {
    background-color:var(--verdigris);
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color:var(--charcoal);
    border-radius: 5px;
    display: none;
    margin-top: 12px;
    margin-left: 3px;
}
.nav-button img {
    width: 50px;
}
#search {
    display:flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;
    margin-bottom: 7px;
}

#search input {
    padding: 10px; 
    border: solid 1px;
    border-radius: 5px 0px  0px 5px;
    flex: 1;
}
#search button {
    padding: 10px;
    border:solid 1px;
    background-color: var(--charcoal-4);
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
    
}
/*---------carousel------------------*/
.slide{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--charcoal-2);
    background-size: cover;
    background-position: center;

    margin-bottom: 0.5rem;
}

.slide h2{
    font-size: 3.5em;
    text-shadow: 0px 0px 0px var(--rich-black);
    /*color: azure;*/ 
}
.slide button {
    font-size: 1.2em;
    color: azure;
    padding: 8px;
    background-color: transparent;
    min-width: 30px;
    border: solid 5px white;
    border-radius: 8px;
    
}   
.slide:nth-child(1){
    background-image: url("images/slides/Heavenblack-womens.jpg");
    color:white;
    text-shadow: 2px 2px 2px var(--rich-black);
}
.slide:nth-child(2){
    background-image: url("images/slides/Clancyblue-womens.jpg");
    color:white;
}
.slide:nth-child(3){
    background-image: url("images/slides/Chestnutmens.jpg");
    color:white;
}
.slide:nth-child(4){
    background-image: url("images/slides/Garytan-mens.jpg");
    color:white;
}
nav a{
    text-decoration:none;
    
}
.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: var(--verdigris-3);
    color:var(--charcoal-4);
    padding: 20px 30px;
    margin-top: 30px;
}
.footer-nav{
    display: flex;
    flex-direction: row;   /* put links in a line */
    gap: 2em;              /* spacing between items */
    align-items: center;
}
.social-nav a, .legal-nav a {
    color:rgb(47, 47, 48);
    padding: 5px;
}
.social-nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 120% ;
}

.legal-nav {
    min-width: 100%;
    display:flex;
    flex-direction: row;
    gap: 3em;
    flex-wrap: wrap;
}
/* content */
.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    max-width: max-content;
    min-width: 100vw;
    
   
    /* width: 100vw;
    margin-left: calc(50% - 50vw); */
}
.card img {
    max-width: 100%;
}
.card-content {
    padding: 15px;
}
.card {
    flex: 1;
    background-color: aliceblue;
    border:1px solid var(--light-sea-green);
    border-radius: 10px;
    overflow: hidden;
}
.card-button {
    
    min-width: 100%;
    padding: 12px;
    border: 1px solid var(--prussian-blue-2);
    border-radius:5px;
}
.main-content {
    margin-top: 2em;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 99%;
    max-width:100%;
    
}

.banner2 {
    display: flex;
    min-height: 30vh;
    /* width: 150vw; */
    
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("images/banner2.jpg");
    /* background-position: center; */
    margin-top: 1em;
    color: white;
    border-right: 20px;
  
}
.contact-form {
    display: flex;
    flex-direction: column;

}
.contact-form input, 
.contact-form textarea {
    margin-bottom: 0.5em;

}
.row {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-form button {
    min-width: auto;
}
.contact-details a {
    color:var(--rich-black-2);
    font-size:medium;
}

.about-box {
    max-width: 900px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border: 1px solid #ddd;
}

.about-box h1 {
    margin-top: 0;
    font-size: 2rem;
    color: #222;
}

.about-box p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}
.scrollbox {
    overflow-x: scroll;
    display: inline-block;
    width: 100%;
    padding-bottom: 0;
}
.card {
        min-width:30vw;
        flex-shrink:0;
    }
    
    .card-container {
        min-width: 170vw;
    }   
    .card-container.contact{
        min-width:auto;
        flex-wrap:wrap;
    }
    .card-container.contact .card {
        min-width:  290px;
    }
    .scrollbox {
        overflow-x: scroll;
    }

a :{ color: blue; } 
a:visited { color: rgb(35, 35, 35); }
a:hover { color: rgb(255, 254, 254); } 
a:active { color: var(--charcoal);





